.form{
      display: flex;
      padding: 15px;
      border: none;
      outline: none;
      background-color: #f7f7f7;
      width: 300px;
      margin: 0 auto;
      border-radius: 10px;
      
}
.form label{
      font-size: 1.3rem;
      font-weight: bold;
      
}
.form div input,.form div textarea, .form div select {
      width: 112%;
      padding: 5px;
}
.form input[type="submit"]{
      width: 118%;
      background-color: purple;
      border: none;
      border-radius: 5px;
      padding: 5px;
      color: #f7f7f7;
      font-size: 1.3rem;


}
.form div{
      margin-top: 15px;
}